@font-face {
  font-family: 'Yanone';
  src: url('./Fonts/yanonekaffeesatz-variablefont_wght-webfont.woff');
}

.App {
  height: 800px;
  background-image: url('./Images/2bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  font-family: Yanone;
  font-size: 90px;
  margin-top: -75px;
}

@media all and (min-width: 0px) and (max-width: 850px) {
  .logodisplay {
    height: 250px;
    width: 250px;
  }

  .App {
    height: 900px;
  }

  h1 {
    font-size: 40px;
    margin-top: -40px;
  }
}